.card {
  border: rgba(0, 117, 190, 0.8) solid 1px;
  background-color: rgba(202, 220, 159, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 20px;
  width: 25rem;
  text-decoration: none;
}
img{
  width: 15vh;
  height: auto;
  
}