.card {
  border: rgba(0, 117, 190, 0.8) solid 1px;
  background-color: rgba(202, 220, 159, 0.95);

  margin: 10px;
  width: 23rem;
  text-decoration: none;
  text-align: center;
}

.card img {
  width: auto;
  height: 15vh;
}
.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
