.details div{
    font-family: "EarlyGameBoy";
    background-image: url("./PokemonClouds.gif");
    background-size: cover;
}
.details ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
