.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  background-image: url("./PokemonTeam.gif");
  background-size: contain;
  min-height: 100vh;
  min-width: 100vw;
}

.container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.buscadores{
  text-align: center;
}