.card {
  border: rgba(0, 0, 0, 0.8) solid 1px;
  background-color: rgba(202, 220, 159, 0.95);

  margin: 10px;
  width: 23rem;
  text-decoration: none;
  text-align: center;
}

.card img {
  height: 100px;
  margin: auto;
  /* display: inline-block; */
}
.infoCard {font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
