.containerForm {
  background-image: url("./PokemonClouds.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  padding-top: 3vh;
  font-family: "EarlyGameBoy";
  font-weight: bold;
}
.hidden {
  display: none;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 550px;
}
.columnContainer {
  display: flex;
  justify-content: space-around;
}
.column {
  flex: 50%;
}

.input{
  border: 3px solid black;
  border-radius: 5px;
  width: 220px;
  height: 30px;
  font-family: "EarlyGameBoy";
  font-weight: bold;
}

.hatch {
  margin-top: 25px;
  height: 40px;
  width: 250px;
  font-family: "EarlyGameBoy";
  font-weight: bold;
  background-color: rgb(255 204 0);
  border: none;
  cursor: pointer;
  border-radius: 40px;
  align-self: center;
  flex-direction: row;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.error {
  color: crimson;
  font-size: 8px;
  position: absolute;
  top: 70px;
}
